<section>
  <div class="container">
    <div class="row justify-content-center my-5">
      <div class="col-md-6" style="margin-top: 50px;">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h2>Performance Sports</h2>
              <!-- <p class="lead">Questions? Do not hesitate to contact us.</p> -->
              <h5 class="card-title mt-4 mb-5">Account Login</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            </div>
            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form #loginForm="" >
              <div class="form-outline mb-4">
                <label class="form-label">Email Address</label>
                <input type="email" name="email" class="form-control" required>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
              </div>
              <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn btn-primary">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                  <span>Loading...</span>
                  <span>Log in</span>
                </button>
              </div>
            </form>
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                 Create an Account
              </div>
              <div class="col">
                Forgot password?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Success screen -->
  <div class="container">
    <!-- <div class="container"> -->
    <div class="row justify-content-center my-5">
      <div class="col-md-6" style="margin-top: 50px;">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h2>Performance</h2>
              <h5 class="card-title mt-4 mb-4">Verification Code Sent To ...</h5>
              
              <p class="mt-2" style="font-size: 20px;">Please access your SMS and enter the code.</p>
            </div>
            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">

              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form>
              <div class="form-outline mb-4">
                <label class="form-label">Verification Code</label>
                <input type="text" name="code" class="form-control" required>
              </div>
              <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn btn-primary">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                  <span>Loading...</span>
                  <span>Verify Code</span>
                </button>
              </div>
            </form>
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                Account Login
              </div>
              <div class="col">
                Create an account
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
